<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Banco Rio Transfers App</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>

    <script src="js/utils.js"></script>
    <script src="js/banco_rio.js"></script>
    <script src="js/otras_cuentas.js"></script>
    <script src="js/otros_bancos.js"></script>
    <script src="js/app.js"></script>

    <style>
      body {
        margin-top: 1em;
      }
    </style>
  </head>

  <body ng-app="BRApp">

    <div class="container-fluid">
      <div class="row">
        <div ng-controller="BRConfig" class="col-md-12">
          <div class="panel panel-default" ng-show="!br.active">
            <div class="panel-body">
              <form novalidate class="form-inline">
                <input type="text" class="form-control" ng-model="config.sucursal_cuenta_debito" placeholder="Sucursal" />
                <input type="text" class="form-control" ng-model="config.cuenta_debito" placeholder="Cuenta Debito" />
                <select class="form-control" ng-model="config.tipo_cuenta_debito">
                  <option value="00">Cuenta Corriente en Pesos</option>
                  <option value="01">Caja de Ahorro en Pesos</option>
                  <option value="02">Cuenta Corriente en Dólares</option>
                  <option value="03">Caja de Ahorro en Dólares</option>
                </select>
                <input type="text" class="form-control" ng-model="config.numero_cuenta_debito" placeholder="Numero Cuenta Debito" />
                <input class="btn btn-primary" ng-disabled="br.active" type="submit" ng-click="update(config)" value="Set" />
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div ng-controller="BRAutogenerateController" class="col-md-12">
            <div class="panel panel-default" ng-show="br.active">
              <div class="panel-heading">Importar masivamente Transferencias a realizar</div>
              <pre>
              Estructura del archivo

              Importe,Es Santander,CBU,CUIT,Tipo Cuenta,Sucursal,Numero de Cuenta,Concepto

              Importe: Decimales separados por punto.
              Es Santander: SI para cuentas santander. NO para otros bancos.
              CBU: opcional, solo para otros bancos.
              CUIT: opcional, solo para otros bancos.
              Tipo de Cuenta: el tipo de cuenta.
                  -> Código de 2 números para cuentas Santander
                  "00": "Cuenta Corriente en Pesos"
                  "01": "Caja de Ahorro en Pesos"
                  "03": "Cuenta Corriente en Dolares"
                  "04": "Caja de Ahorro en Dolares"
                  "09": "Cuenta Unica en Pesos"
                  "10": "Cuenta Unica en Dolares"
                  -> Código de 1 número para otros bancos
                  "1": "Cuenta Corriente Propia"
                  "2": "Cuenta Corriente de Terceros"
                  "3": "Otra Cuenta"
                  "4": "Otra Cuenta de Terceros"
              Sucursal: opcional, solo para cuentas Santander.
              Número de Cuenta: opcional, solo para cuentas Santander.
              Concepto: concepto de la transferencia, codigo de 3 letras en mayuscula.

              Nota: Incluir cabecera en el archivo.
              </pre>
              <div class="panel-body">
                <input type="file" file-reader="fileContent"/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div ng-controller="BRSantanderOtrasCuentasController" class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">Otras Cuentas de Banco Rio</div>
            <div class="panel-body" ng-if="br.active">
              <form novalidate class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Sucursal</label>
                  <div class="col-sm-10">
                    <input type="text" class="col-sm-10 form-control" ng-model="transfer.sucursal_destino" placeholder="Sucursal" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Nro Cuenta</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="transfer.numero_cuenta_destino" placeholder="Numero de Cuenta"></input>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Tipo Cuenta</label>
                  <div class="col-sm-10">
                    <select class="form-control" ng-model="transfer.tipo_cuenta_destino">
                      <option ng-repeat="tipo in transfer.tipos_cuenta_destino" ng-selected="{{transfer.tipo_cuenta_destino == tipo.key}}" value="{{tipo.key}}">{{tipo.tipo}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Importe</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="transfer.importe" placeholder="Importe"></input>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Concepto</label>
                  <div class="col-sm-10">
                    <select class="form-control" ng-model="transfer.codigo_concepto_transferencia">
                      <option ng-repeat="concepto in br.codigos_concepto_transferencia" ng-selected="transfer.codigo_concepto_transferencia==concepto" value="{{concepto}}">{{concepto}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Descripción</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="transfer.descripcion" placeholder="Descripción"></input>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Informacion Adicional</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="transfer.informacion_adicional" placeholder="Informacion Adicional"></input>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-primary" type="submit" ng-click="update(transfer)" value="Agregar" />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div ng-controller="BROtrosBancosController" class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">Otras Cuentas de Otros Bancos</div>
            <div class="panel-body" ng-if="br.active">
              <form novalidate class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-2 control-label">CBU</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="transfer.cbu" placeholder="CBU"></input>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">CUIT</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="transfer.cuit" placeholder="CUIT"></input>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Tipo Cuenta</label>
                  <div class="col-sm-10">
                    <select class="form-control" ng-model="transfer.tipo_cuenta_destino">
                      <option ng-repeat="tipo in transfer.tipos_cuenta_destino" ng-selected="{{transfer.tipo_cuenta_destino == tipo.key}}" value="{{tipo.key}}">{{tipo.tipo}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Importe</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="transfer.importe" placeholder="Importe"></input>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Concepto</label>
                  <div class="col-sm-10">
                    <select class="form-control" ng-model="transfer.codigo_concepto_transferencia">
                      <option ng-repeat="concepto in br.codigos_concepto_transferencia" ng-selected="transfer.codigo_concepto_transferencia==concepto" value="{{concepto}}">{{concepto}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Descripción</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="transfer.descripcion" placeholder="Descripción"></input>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Informacion Adicional</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="transfer.informacion_adicional" placeholder="Informacion Adicional"></input>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-primary" type="submit" ng-click="update(transfer)" value="Agregar" />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div ng-controller="BRController">
            <div class="panel panel-default">
              <div class="panel-body" ng-if="br.active">
                <table class="table">
                  <tr>
                    <th>#</th>
                    <th>Sucursal/CBU</th>
                    <th>Numero Cuenta/CUIT</th>
                    <th>Importe</th>
                    <th>Descripción</th>
                    <th>Información Adicional</th>
                  </tr>
                  <tr ng-repeat="(key, transfer) in br.rows">
                    <td>{{key+1}}</td>
                    <td>{{transfer.sucursal_destino?transfer.sucursal_destino:transfer.cbu}}</td>
                    <td>{{transfer.numero_cuenta_destino?transfer.numero_cuenta_destino:transfer.cuit}}</td>
                    <td>{{transfer.getImporte()}}</td>
                    <td>{{transfer.descripcion}}</td>
                    <td>{{transfer.informacion_adicional}}</td>
                  </tr>
                  <tr>
                    <td>Total</td>
                    <td></td>
                    <td></td>
                    <td>{{br.getImporteTotal()}}</td>
                    <td></td>
                    <td></td>
                  </tr>
                </table>

                <pre>{{br.dump()}}</pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div ng-controller="BRAutogenerateController" class="col-md-12">
          <div class="panel panel-default" ng-show="br.active">
            <div class="panel-heading">Generar archivo de Transferencia</div>
            <div class="panel-body">
              <input class="btn btn-primary" type="button" ng-click="exportFile()" value="Generar Archivo" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
